<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<style>
    body {
    background-color: rgb(210, 200, 211);
    }
    .clas_01 {
    display: flex;
    justify-content: center;

    }
</style>
<body>

<div class="clas_01">
    <img src="images/scale_1200.jpeg" width="606" height="360">
    <form action="alphacentauri/create" method="post" enctype="multipart/form-data">
    Название: <input type="text" name="name"><br>
    Описание: <input type="text" name="description"><br>
        <button type="submit"> Добавить </button>


    </form>


</div>

</body>
</html>